@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #D8D8D8;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

/* ==LOADER == */


 .loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #D8D8D8;
    opacity: 1;
    z-index: 5;
    transition: 0.3s ease-out;
  }
  
  #loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-size: 20px;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid rgb(241, 0, 0);
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid rgb(0, 0, 0);
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid rgb(180, 0, 0);
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 3px solid transparent;
    border-top-color: #005eff;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
    border: 3px solid transparent;
    border-top-color: #000000;
    border-bottom-color: #ff0000;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
  }
  
  #header
  {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
  }
  
  #content
  {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
  }
/* ==HEADING SECTION=== */
nav{
    width: 100%;
    min-height: 12vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    transition: 0.4s ease-in-out;
    background-color: #D8D8D8;

}

 
.head-items{
  
  min-height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0px 100px 0px 150px;
}

/* ===HEADING BURGER=== */
.menu-btn{
    position: relative;
    margin-top: 20px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 8vh;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
    object-fit: contain;

}

.menu-btn__burger{
    position: absolute;
    background: black;
    width: 50px;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}

.menu-btn__burger::before{
    content: '';
    position: absolute;
    z-index: 2;
    background: black;
    width: 50px;
    top: 1rem;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}

.menu-btn__burger::after{
    content: '';
    position: absolute;
    z-index: 2;
    background: black;
    width: 50px;
    top: -1rem;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}


.menu-btn.open .menu-btn__burger,
.menu-btn.open .menu-btn__burger::before,
.menu-btn.open .menu-btn__burger::after
 {
    transform: rotate(90deg);

}

/* ==HEADING CONTENT== */

.navbar{
    width:100%;
    height: 100%;
    background-color: #D8D8D8;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    transition: 0.7s ease-in-out;
    z-index: 2;
    border: 1px solid black;
}

.change{
    right: 0;
}
.nav-list {
/* THIS IS THE UL */
    text-align: center;
}

.navbar li{
    list-style: none;
    margin: 50px;
}

.navbar li a{
    text-decoration: none;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.navbar li a::before,
.navbar li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar li a::after{
    bottom: 0;
    transform-origin: right;
}

.navbar li a::before{
    top: 0;
    transform-origin: left;
}

.navbar li a:hover::before,
.navbar li a:hover::after{
    transform: scaleX(1);
}

.gal-text{
    transition: 1s ease-in-out;
  }
  .gal-text:hover{
    text-decoration: line-through;
    color: red; 
  }
  .darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }


  #myBtn{
      border: none;
      background: transparent;
  }
 /* SKILLS  */

 .skills-container{
   position: relative;
     height: 600px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     row-gap: 1rem;
     margin-top: 10%;
     
  
 }
 .py-bar{
     position: relative;
     width: 1200px;
     height: 50px;
     border-radius: 50px;   
     display: flex;
     box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
    justify-content: left;
    flex-direction: column-reverse;
    overflow: hidden;
 }

 .py-innerbar{
    position: absolute;
    height: 100%;
     background-color: red;
     width: 45%;
     bottom: 0;
     border-radius: 25px;
 }
 .py-bar ul{
   position: absolute;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0px 15px;
   align-items: center;
 }

 .py-bar li, .py-bar h1{
   list-style: none;
   font-size: 25px;
   padding: 2.5px 0;
 }
 .jv-bar{
  position: relative;
  width: 1200px;
  height: 50px;
  border-radius: 50px;   
  display: flex;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
 justify-content: left;
 flex-direction: column-reverse;
 overflow: hidden;
}

.jv-innerbar{
  position: absolute;
  height: 100%;
  background-color: red;
  width: 40%;
  bottom: 0;
  border-radius: 25px;
}
.jv-bar ul{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 15px;
align-items: center;
}

.jv-bar li, .jv-bar h1{
list-style: none;
font-size: 25px;
padding: 2.5px 0;
}

.wb-bar{
  position: relative;
  width: 1200px;
  height: 50px;
  border-radius: 50px;   
  display: flex;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
 justify-content: left;
 flex-direction: column-reverse;
 overflow: hidden;
}

.wb-innerbar{
  position: absolute;
  height: 100%;
  background-color: red;
  width: 61%;
  bottom: 0;
  border-radius: 25px;
}
.wb-bar ul{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 15px;
align-items: center;
}

.wb-bar li, .wb-bar h1{
list-style: none;
font-size: 25px;
padding: 2.5px 0;
}


.be-bar{
  position: relative;
  width: 1200px;
  height: 50px;
  border-radius: 50px;   
  display: flex;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
 justify-content: left;
 flex-direction: column-reverse;
 overflow: hidden;
}

.be-innerbar{
  position: absolute;
  height: 100%;
  background-color: red;
  width: 15%;
  bottom: 0;
  border-radius: 25px;
}
.be-bar ul{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 15px;
align-items: center;
}

.be-bar li, .be-bar h1{
list-style: none;
font-size: 25px;
padding: 2.5px 0;
}

 .ps-bar{
  position: relative;
  width: 1200px;
  height: 50px;
  border-radius: 50px;   
  display: flex;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
 justify-content: left;
 flex-direction: column-reverse;
 overflow: hidden;
}

.ps-innerbar{
  position: absolute;
  height: 100%;
  background-color: red;
  width: 65%;
  bottom: 0;
  border-radius: 25px;
}
.ps-bar ul{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 15px;
align-items: center;
}

.ps-bar li, .ps-bar h1{
list-style: none;
font-size: 25px;
padding: 2.5px 0;
}
.gt-bar{
  position: relative;
  width: 1200px;
  height: 50px;
  border-radius: 50px;   
  display: flex;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
 justify-content: left;
 flex-direction: column-reverse;
 overflow: hidden;
}

.gt-innerbar{
  position: absolute;
  height: 100%;
  background-color: red;
  width: 39%;
  bottom: 0;
  border-radius: 25px;
}
.gt-bar ul{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 15px;
align-items: center;
}

.gt-bar li, .gt-bar h1{
list-style: none;
font-size: 25px;
padding: 2.5px 0;
}

.code-icons{
  position: relative;
  height: 30px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 50px;

}

/* PROJECTS */
.project-header{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.project-container{
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container{
  position: relative;
  bottom: 0;
  display: grid;
  gap: 1.5rem;
  height: 900px;
  width: 100%;
  grid-template-columns: repeat(auto-fit , minmax(540px, 1fr));
  grid-auto-rows: 400px;
  padding: 10px 50px;


}
.grid-item{
  border-radius: 25px; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.37);
  flex-direction: column;
  transition: all 0.8s ease;
}


.grid-item:hover{
  transform: scale(1.1);
}

.grid-item h1{
  font-size: 40px;
}
.grid-item h2{
  font-size: 20px;
}

.grid-item i{
  font-size: 50px;
}
.grid-item a{
  text-decoration: none;
  color: white;  
  transition: .5s ease;
  font-size: 25px;
  padding: 0 25px;
}

.grid-item a:hover{
  color: #c2a4a4;
}
.grid-item:nth-child(1){

  background-color: rgb(184, 7, 37);
  flex-direction: column;
}
.grid-item:nth-child(2) {
  background-color: rgb(173, 136, 110);
}
.grid-item:nth-child(3) {
  background-color: rgb(23, 15, 94);
}
.grid-item:nth-child(4) {
  background-color: rgb(8, 8, 10);
}
.grid-item:nth-child(5) {
  background-color: rgb(33, 121, 128);
}
.grid-item:nth-child(6){
  background-color: rgb(33, 128, 41);
}




@media screen and (max-width:720px){

  
  .skills-container{
   justify-content: center;
   align-items: center;
   gap: 1rem;
  }
 
  .barmobile{
    width: 50%;
    padding: 0px 50px;
  }
 
  .innermobile{
    left: 0;
  }
 
  .ul-mobile{
   left: 0;
  }
  .grid-container{
   grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
   grid-auto-rows: 500px;
  }
 }
/* Mobile Responive */
@media screen and (max-width:1200px){

  
 .skills-container{
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }

 .barmobile{
   width: 70%;
   padding: 0px 50px;
 }

 .innermobile{
   left: 0;
 }

 .ul-mobile{
  left: 0;
 }
 .grid-container{
  grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
  grid-auto-rows: 500px;
 }
}
