@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #D8D8D8;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
  }
/* ==LOADER == */


.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #D8D8D8;
    opacity: 1;
    z-index: 5;
    transition: 0.3s ease-out;
  }
  
  #loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-size: 20px;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid rgb(241, 0, 0);
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid rgb(0, 0, 0);
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid rgb(180, 0, 0);
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 3px solid transparent;
    border-top-color: #005eff;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
    border: 3px solid transparent;
    border-top-color: #000000;
    border-bottom-color: #ff0000;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
  }
  
  #header
  {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
  }
  
  #content
  {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
  }
/* ==HEADING SECTION=== */
nav{
    width: 100%;
    min-height: 12vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

}

 
.head-items{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px 100px 0px 150px;
}

/* ===HEADING BURGER=== */
.menu-btn{
    position: relative;
    margin-top: 40px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 8vh;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    border-radius: 20px;
    object-fit: contain;

}

.menu-btn__burger{
    position: absolute;
    background: black;
    width: 50px;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}

.menu-btn__burger::before{
    content: '';
    position: absolute;
    z-index: 2;
    background: black;
    width: 50px;
    top: 1rem;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}

.menu-btn__burger::after{
    content: '';
    position: absolute;
    z-index: 2;
    background: black;
    width: 50px;
    top: -1rem;
    height: 6px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(gray, 0.2);

}

.menu-btn.open .menu-btn__burger::before,
.menu-btn.open .menu-btn__burger,
.menu-btn.open .menu-btn__burger::after
 {
    transform: rotate(90deg);

}

/* ==HEADING CONTENT== */

.navbar{
    width:100%;
    height: 100%;
    background-color: #D8D8D8;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    transition: 0.7s ease-in-out;
    z-index: 2;
    border: 1px solid black;
}

.change{
    right: 0;
}
.nav-list {
/* THIS IS THE UL */
    text-align: center;
}

.navbar li{
    list-style: none;
    margin: 50px;
}

.navbar li a{
    text-decoration: none;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}


.navbar li a::before,
.navbar li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar li a::after{
    bottom: 0;
    transform-origin: right;
}

.navbar li a::before{
    top: 0;
    transform-origin: left;
}

.navbar li a:hover::before,
.navbar li a:hover::after{
    transform: scaleX(1);
}

.gal-text{
    transition: 1s ease-in-out;
  }
  .gal-text:hover{
    text-decoration: line-through;
    color: red; 
  }

.darkmode--activated p, .darkmode--activated li {
    color: rgb(53, 47, 47);
  }
/* ==Main Section */

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.main h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.red{
    color: red;
}

.main h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;  
}

.header-area{
    margin-top: 100px;
}
.header-area h1 span{
    color: red;
}

.aboutme-btn{
    width: 180px;
    height: 60px;
    background: red;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.aboutme-btn a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800; 
    text-decoration: none;
    
}

.aboutme-btn:hover{
    background-color: #d90000 ;
}

/* ==Main About Me and Resume */
#about{
    bottom: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.about-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.about-area h1{

    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0); 
}

.about-area p{

    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
}


.resume-btn{
    width: 180px;
    height: 60px;
    background: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    position: relative;
}

.resume-btn a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800; 
    text-decoration: none;

}

.resume-btn:hover{
    background-color: #d90000 ;
}


.darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }
/* ==Main Section Footer== */


.footer{
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul{
    height: 40px;
    width: 20%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.footer li {
    margin-right: 25px;
    list-style: none;
}

.footer p{
    font-weight: 800;
}
.footer a img{
    height: 31px;
    width: 31px;
}


/* ==Mobible Friendly Section=== */
@media screen and (max-width:1024px){
		
		nav{
			position: relative;
		}
		.head-items{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px 50px 0px 150px;
}

.main h1{
    font-size: 30px;
}
.red{
    color: red;
}

.main h2{
    font-size: 30px;
}

.aboutme-btn a{
    font-size: 20px;
}

    .about-area h1{
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        color: rgb(0, 0, 0); 
    }
    
    .about-area p{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: rgb(0, 0, 0);
    }

		.resume-btn{
    width: 180px;
    height: 60px;
    background: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    position: relative;
}

.resume-btn a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900; 
    text-decoration: none;

}

    .footer{
        position: relative;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer ul{
        height: 40px;
        width: 20%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }
    
    .footer li {
        margin-right: 25px;
        list-style: none;
    }
    
    .footer p{
        font-weight: 800;
        font-size: 7px;
				visibility: hidden;
    }
    .footer a img{
        height: 25px;
        width: 25px;

    }
    

}
